@defaultWidth: 100%;
@defaultHeight: 100%;
@headerHeight: 50px;
@headerOverlayColor: linear-gradient( to right, rgba(255, 0, 0, 0.5), rgba(255, 255, 0, 0.5));
@headerBackdropFilter: sepia(1) blur(5px);
@headerBoxShadow: 0px 5px 20px black;

.header
{
    background: @headerOverlayColor;
    backdrop-filter: @headerBackdropFilter;
    box-shadow: @headerBoxShadow;
    position: fixed;
    width: @defaultWidth;
    padding: 0 10px 0 10px;
    height: @headerHeight;
    overflow: hidden;
    z-index: 100;

    .header-content
    {
        position: absolute;
        width: @defaultWidth;
        height: @defaultHeight;
        
        h4
        {
            line-height: 2em;
            color: white;
            float: left;
            margin-left: 5px;
        }
    
        .login, .register
        {
            float: right;
            height: inherit;
    
            button 
            {
                border-radius: 0;
                background: transparent;
                color: white;
                height: inherit;
                margin-right: 15px;
            }
        }
    }
}