@defaultWidth: 100%;
@defaultHeight: 100%;
@headerHeight: 50px;
@headerOverlayColor: inset 0 0 0 3000px rgba(0, 0, 0, 0.3);

.header
{
    background: inherit;
    box-shadow: 0px 5px 20px black;
    position: absolute;
    width: @defaultWidth;
    padding: 0 10px 0 10px;
    height: @headerHeight;
    overflow: hidden;

    &:before 
    {
        content: " ";
        background: inherit;
        width: 2*@defaultWidth;
        height: 2*@defaultHeight;
        position: absolute;
        left: -15px;
        right: 0;
        top: -15px; 
        bottom: 0;
        box-shadow: @headerOverlayColor;
        filter: blur(5px);
    }

    .header-content
    {
        position: absolute;
        width: @defaultWidth;
        height: @defaultHeight;
        
        h4
        {
            line-height: 2em;
            color: white;
            float: left;
            margin-left: 5px;
        }
    
        .login, .register
        {
            float: right;
            height: inherit;
    
            button 
            {
                border-radius: 0;
                background: transparent;
                color: white;
                height: inherit;
                margin-right: 15px;
            }
        }
    }
}